.Events {
  width: 100vw;
  height: 100vh;
  background-color: rgb(132, 132, 253);
  padding-top: 5rem;
  h1 {
    color: #000;
    font-size: 3rem;
    text-align: center;
  }
  p {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
  }
}
